include:
  - project: "waldur/waldur-pipelines"
    file: "/templates/stages.yml"
  - project: "waldur/waldur-pipelines"
    file: "/templates/test/check-merge-compatibility.yml"
  - project: "waldur/waldur-pipelines"
    file: "/templates/release/sync-to-github.yml"

variables:
  GITHUB_OPENNODE_REPO_URL: "git@github.com:opennode/waldur-docs.git"
  GITHUB_WALDUR_REPO_URL: "git@github.com:waldur/waldur-docs.git"

test-mkdocs:
  image: python:3.8-buster
  stage: test
  script:
    - pip install -r requirements.txt
    - mkdocs build --strict --verbose --site-dir test
  artifacts:
    paths:
    - test
  except:
  - master

build-pages:
  image: python:3.8-buster
  stage: deploy
  script:
    # Ignore if `github_*` remote already exists
    - git remote add github_opennode $GITHUB_OPENNODE_REPO_URL || true
    - git remote add github_waldur $GITHUB_WALDUR_REPO_URL || true
    - git remote -v
    - pip install -r requirements.txt
    - mkdocs gh-deploy --force -r github_opennode
    - mkdocs github_waldur --force -r github_opennode
  artifacts:
    paths:
    - public
  only:
  - master
  before_script:
    - echo "[+] Adding ssh keys to the home directory"
    - mkdir -p ~/.ssh
    - cat $SSH_JENKINS_GITHUB_PRIVATE_KEY | tr -d '\r' > ~/.ssh/id_rsa
    - cat $SSH_JENKINS_GITHUB_PUBLIC_KEY | tr -d '\r' > ~/.ssh/id_rsa.pub
    - chmod 600 ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa.pub
    - ssh-keygen -lf ~/.ssh/id_rsa.pub
    - ssh-keyscan -H "github.com" >> ~/.ssh/known_hosts