site_name: Waldur Documentation
site_description: Documentation of an open-source marketplace platform Waldur. See the latest version at https://docs.waldur.com
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.tracking
    - navigation.top
    - toc.follow
    - versioning
  palette:
    # Palette toggle for light mode
    - scheme: default
      media: "(prefers-color-scheme: light)"
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      media: "(prefers-color-scheme: dark)"
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  analytics:
    gtag: G-5M7QPTQT8H
  logo: assets/waldur-logo.svg
  favicon: assets/waldur-logo.svg
extra:
  version:
    provider: mike
markdown_extensions:
  - attr_list
  - admonition
  - md_in_html
  - pymdownx.highlight:
      linenums: true
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
      clickable_checkbox: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true

plugins:
  - search
  - awesome-pages
  - git-revision-date
  - render_swagger
  - mike:
      # These fields are all optional; the defaults are as below...
      alias_type: symlink
      redirect_template: null
      deploy_prefix: ''
      canonical_version: latest
      version_selector: true
      css_dir: css
      javascript_dir: js
  - glightbox:
      touchNavigation: true
      loop: false
      effect: zoom
      slide_effect: slide
      width: 100%
      height: auto
      zoomable: true
      draggable: true
      skip_classes:
        - custom-skip-class-name
      auto_caption: false
      caption_position: bottom
  - mkdocs-video:
      is_video: True
      video_autoplay: True
      video_loop: True
      video_muted: True
      video_controls: True
      css_style:
        width: "100%"
  - print-site:
      print_page_title: 'Print documentation'
      enumerate_headings: true
      add_to_navigation: false
      add_cover_page: true
      exclude:
        - API/
        - API/*

copyright: Copyright &copy; 2016 - 2024 Waldur team
